 /* Disable tap highlight on touch devices */
button, a, input, textarea {
    -webkit-tap-highlight-color: transparent;
}

/* Custom animations */
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%); /* Start off-screen to the left */
        opacity: 0; /* Start invisible */
    }
    100% {
        transform: translateX(0); /* End at original position */
        opacity: 1; /* Fully visible */
    }
}

.slide-in {
    animation: slideInFromLeft 0.5s ease-in-out; /* Adjust duration as needed */
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%); /* Start off-screen above */
        opacity: 0; /* Start invisible */
    }
    100% {
        transform: translateY(0); /* End at original position */
        opacity: 1; /* Fully visible */
    }
}

.slide-in-top {
    animation: slideInFromTop 0.5s ease-in-out; /* Adjust duration as needed */
}

/* Body and Typography */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #1C1C1C;
    color: #BCB8B1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header {
    background: transparent;
}

/* Navigation Styles */
nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

nav a {
    text-decoration: none;
    padding: 10px 20px;
    transition: color 0.3s ease;
    display: block;
}


.nav-link {
    background: linear-gradient(145deg, #1C1C1C, #1A1A1A);
    border-radius: 5px;
    box-shadow: 2px 2px 4px #0B0B0B,
                -2px -2px 4px #2A2A2A;
    padding: 10px;
    transition: width 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
    width: 150px;
}

.nav-link:hover {
    box-shadow: inset 2px 2px 4px #0B0B0B,
                inset -2px -2px 4px #2A2A2A;
    width: 300px;
}

.nav-link.active {
    width: 300px;
    transition: width 0.3s ease;
}

.social-links {
    display: flex;
    gap: 10px;
}

.social-links a {
    background: linear-gradient(145deg, #1C1C1C, #1A1A1A);
    border-radius: 5px;
    box-shadow:  2px 2px 4px #0B0B0B,
                -2px -2px 4px #2A2A2A;
    padding: 10px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-links a:hover {
    box-shadow: inset 2px 2px 4px #0B0B0B,
                inset -2px -2px 4px #2A2A2A;
}

.timeline-item {
    background: linear-gradient(145deg, #1C1C1C, #1A1A1A);
    border-radius: 5px;
    box-shadow:  2px 2px 4px #0B0B0B,
                -2px -2px 4px #2A2A2A;
    padding: 20px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.timeline-item:hover {
    box-shadow: inset 2px 2px 4px #0B0B0B,
                inset -2px -2px 4px #2A2A2A;
}

.octagon-pattern{
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100"><polygon points="50,0 100,25 100,75 50,100 0,75 0,25" fill="none" stroke="rgba(255, 255, 255, 0.1)" stroke-width="1"/></svg>');
    background-size: 50px 50px;
}

.feature-card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

/* Cursor Styles */
.cursor-square {
    position: absolute;
    width: 40px;
    height: 40px;
    border: 2px solid #f4f3ee;
    border-radius: 4px;
    pointer-events: none;
    transition: transform 0.5s ease;
    margin-left: -20px;
    margin-top: -20px;
    z-index: 9999;
}

.cursor-dot {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #f4f3ee;
    border-radius: 50%;
    pointer-events: none;
    transition: transform 0.1s ease;
    margin-left: -5px;
    margin-top: -5px;
    z-index: 9999;
}

.cursor-dot:hover {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 2px solid #f4f3ee;
    transition: all 0.3s ease;
}

.cursor-indicator {
    display: inline-block;
    width: 2px;
    height: 60px;
    background-color: #8A817C;
    animation: blink 1s step-end infinite;
    vertical-align: middle; /* Align with text */
    margin-left: 4px; /* Add space between text and cursor */
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

@media (hover: hover) and (pointer: fine) {
    .cursor-square, .cursor-dot {
        display: block;
    }
}

@media (hover: none), (pointer: coarse) {
    .cursor-square, .cursor-dot {
        display: none;
    }
}

/* Glitch Effect Styles */
.glitch {
    position: relative;
    color: #BCB8B1; /* Updated color */
    font-weight: bold;
    overflow: hidden;
}

.glitch::before, .glitch::after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    color: inherit;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: glitch-anim 3s infinite linear alternate-reverse;
}

.glitch::after {
    left: 1px;
    text-shadow: -1px 0 #f8f9fa, 1px 0 #212529;
    animation: glitch-anim 2s infinite linear alternate-reverse;
}

@keyframes glitch-anim {
    0% { clip: rect(42px, 9999px, 52px, 0); }
    20% { clip: rect(12px, 9999px, 30px, 0); }
    40% { clip: rect(20px, 9999px, 40px, 0); }
    60% { clip: rect(10px, 9999px, 20px, 0); }
    80% { clip: rect(30px, 9999px, 50px, 0); }
    100% { clip: rect(0px, 9999px, 60px, 0); }
}

/* Scroll Indicator Styles */
.scroll-indicator {
    position: relative;
    width: 24px;
    height: 40px;
    border-radius: 9999px;
    border: 2px solid #8A817C;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dot {
    width: 7px;
    height: 7px;
    background-color: #8A817C;
    border-radius: 50%;
    position: absolute;
    animation: moveDot 1.5s linear infinite;
}

@keyframes moveDot {
    0% { top: 5%; opacity: 0; }
    50% { top: 60%; opacity: 1; }
    70% { top: 80%; opacity: 0; }
    100% { top: 5%; opacity: 0; }
}

/* Neumorphism Button Styles */
.neumorphism-button {
    background: linear-gradient(145deg, #1C1C1C, #1A1A1A);
    border-radius: 10px;
    padding: 10px 20px; /* Vertical and horizontal padding */
    box-shadow:  2px 2px 4px #0B0B0B,
                -2px -2px 4px #2A2A2A;
    transition: all 0.3s ease;
    color: #BCB8B1;
}

.neumorphism-button:hover {
    box-shadow: inset 2px 2px 4px #0B0B0B,
                inset -2px -2px 4px #2A2A2A;
    color: #BCB8B1;
}

/* Neumorphism Image Styles */
.neumorphism-image {
    background: linear-gradient(145deg, #1C1C1C, #1A1A1A);
    border-radius: 50%; /* Makes the image circular */
    box-shadow:  6px 6px 12px #0B0B0B,
                -6px -6px 12px #2A2A2A;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100px;
    height: 100px;
}

/* Background Container Styles */
.bg-container {
    box-shadow: inset 2px 2px 4px #0B0B0B,
                inset -2px -2px 4px #2A2A2A;
    padding: 20px; /* Optional: Add padding for better spacing */
    border-radius: 50%; /* Makes the background circular */
    width: 140px; /* Adjusted width to accommodate padding */
    height: 140px; /* Adjusted height to accommodate padding */
}

/* Neumorphism Progress Bar Styles */
.neumorphic-bg {
    background: #1C1C1C;
    border-radius: 9999px;
    box-shadow: inset 5px 5px 10px #0B0B0B,
                inset -5px -5px 10px #2A2A2A;
}

.neumorphic-progress {
    box-shadow: 2px 2px 5px #0B0B0B,
                -2px -2px 5px #2A2A2A;
}